OPENAI_API_KEY=
ANTHROPIC_API_KEY=

RAPID_API_KEY=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`

AUTH_SECRET=

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and

KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

NEXT_PUBLIC_ANTELOPE_ENDPOINT=https://api.antelopeinc.com

# 'production' | 'preview' | 'development' on vercel

NEXT_PUBLIC_VERCEL_ENV=development

NEXT_PUBLIC_COMPANY_URL=https://antelopeinc.com
